# IPFS S3-compatible service test configuration
S3_ENDPOINT_URL=http://ipfs-s3-endpoint
S3_BUCKET_NAME=ipfs-test-bucket
S3_ACCESS_KEY=test-access-key
S3_SECRET_KEY=test-secret-key
## Remove pinning config
REMOTE_PINNING_ENABLED=false
REMOTE_PINNING_SERVICE_NAME=test-service-name
REMOTE_PINNING_SERVICE_ENDPOINT=test-service-endpoint
REMOTE_PINNING_SERVICE_TOKEN=test-service-token
